<!DOCTYPE html>
<html>
<head>
    <title>Process Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Process Status</h1>
    <ul>
    {% for s in status %}
        <li>
            <h2>{{ s.host }}</h2>
            <ul>
            {% for p in s.processes %}
                <li>
                    <p>{{ p.name }} - {{ p.state }} - {{ p.start }} - {{ p.stop }} - {{ p.now }}</p>
                    <p>
                        <a href="{{ url_for('start_process', host=s.host, process_name=p.name) }}">Start</a>
                        <a href="{{ url_for('stop_process', host=s.host, process_name=p.name) }}">Stop</a>
                        <a href="{{ url_for('restart_process', host=s.host, process_name=p.name) }}">Restart</a>
                    </p>
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
